* {
    box-sizing: border-box;
}

body {
    background-color: #FFB38E;
    color: #DE8F5F;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin: 0;
}

div {
    width: 800px;
    margin: 0 auto;
}

img {
    width: auto;
    border: #DE8F5F 5px solid;
    border-radius: 10px;
}

ul {
    list-style-position: inside;
}

li {
    text-align: left;
}

h1, h2, h3  {
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

p, li {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #DE8F5F;
}

.container {
    background-color: #FFCF9D;
    border: #DE8F5F 5px solid;
    border-radius: 10px;
    width: 440px;
    padding: 5px;
    margin: 10px auto;
    width: 85%;
}

.container.recipe:hover, .container.home:hover {
    filter: brightness(80%);
}

.container.usage p {
    margin: 0;
}

@media only screen and (max-width: 750px) {
    div {
        width: 100%;
        padding: 0 10px;
    }

    .container {
        width: 100%;
    }

}

@media only screen and (max-width: 415px) {
    img {
        width: 100%;
        height: 50%;
    }
}